<header>
  <h2>Tour List</h2>
</header>
<section>
  <%= form_for(@tour, class: "form-horizontal", url: admin_tours_path) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :cover %>
    <%= f.text_field :cover %>

    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</section>

<section>
  <header>
    <h3>Your Tours</h3>
  </header>

  <div class="list-group">
    <% @tours.each do |tour| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= link_to admin_tour_path(tour), method: :delete, class: "btn btn-danger btn-xs pull-right", data: {confirm: 'Are you sure you want to delete this tour?'} do %>
            <i class="mdi-action-delete"></i>
          <% end %>
          <h4><%= tour.title %></h4>
        </div>
      </div>
    <% end %>
  </div>

</section>
